<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav.ml-auto">
                <li class="nav-item">
                    <a href="/users" class="nav-link">Users List</a>
                </li>
                <li class="nav-item">
                    <a href="/users/create" class="nav-link">Create user</a>
                </li>
                <li class="nav-item">
                    <a href="/languages" class="nav-link">Languages List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>